*.egg-info
*.pyc
*.so
*.pickle
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build
examples/server_dl/dataset
/output
.DS_Store
examples/webcam/testme.mp4
examples/adapter-latest.js
examples/server_dl/output/embeddings.pickle
examples/deep-learning-face-detection/res10_300x300_ssd_iter_140000.caffemodel
out.txt  
*.log
